.col-title > div {
    padding: 12pt;
    background-color: #afd9ee;
}

.col-body > div {
    padding: 6pt 12pt;
}

#noty-holder{
    width: 50%;
    top: 0;
    font-weight: bold;
    z-index: 1031; /* Max Z-Index in Fixed Nav Menu is 1030*/
    text-align: center;
    position: fixed;
}

.alert{
    margin-bottom: 2px;
    border-radius: 0;
}

.hover-btn {
    display: none;
}

.row:hover .hover-btn {
    display: block;
}

.handle {
    background-color: #f8f8f8;
    color: #888;
}

.popup-box {
    position: absolute;
    border-radius: 5px;
    display: none;
    z-index: 9999999;
}

#blackout {
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 999999;
    left: 0;
    display: none;
}

.team-title {
    font-size: 32px;
    padding-right: 32px;
}

div [class$=-source] {
    border-left: solid 4px crimson;
    margin-left: -5pt;
}

div [class$=-target] {
    border-right: solid 4px crimson;
}

.fixed-action-btn {
    bottom:45pt;
    right:24pt
}

.header-button-panel {
    display: inline;
    text-align: right;
    width: 100%
}

li.menu-item {
    padding-top: 6pt;
    padding-bottom: 6pt;
    text-align: center;
}

li.menu-item.active {
    background-color: #ee6e73;
    color: white;
}

.timetable-row {
    display:flex;
    width: 100%;
}

.timetable-col {
    flex-basis: 100%;
    padding-right: 12px;
    padding-bottom: 12px;
    border-right: 2px solid crimson;
    padding-left: 12pt;
    min-height: 60px;
    border-bottom: 2px solid crimson;
}

a.col i.material-icons {
    color: black
}