<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title th:text="${title}"></title>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css"/>
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link href="/css/ghpages-materialize.css" rel="stylesheet"/>
    <link href="/css/custom.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="/js/jinplace-1.2.1.min.js"></script>
    <script src="/js/jquery.session.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/my.js"></script>
</head>
<body>

<header>
    <nav class="top-nav" role="navigation">
        <div class="container nav-wrapper">
            <a href="#" data-activates="nav-mobile" class="button-collapse top-nav hide-on-large-only">
                <i class="mdi-navigation-menu"></i>
            </a>
            <a class="page-title" th:text="${title}">
            </a>
            <div class="right hide-on-med-and-down" th:include="menu :: body">
            </div>
            <div id="nav-mobile" class="side-nav" style="left: 0" th:include="menu :: body">
            </div>
        </div>
    </nav>
</header>

<main>
    <div th:include="this :: content"></div>
</main>

<th:block th:include="this :: script"></th:block>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
            jqXHR.setRequestHeader(
                    /*[[${_csrf.headerName}]]*/ 'X-CSRF-Token',
                    /*[[${_csrf.token}]]*/ 'token');
        });
    });
    /*]]>*/
</script>
</body>
</html>