<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">
<body>
    <ul th:fragment="body">
        <li><a href="/students" th:utext="#{menu.students}"></a></li>
        <li><a href="/teachers" th:utext="#{menu.teachers}"></a></li>
        <li><a href="/rooms" th:utext="#{menu.rooms}"></a></li>
        <li><a href="/subjects" th:utext="#{menu.subjects}"></a></li>
        <li><a href="/teams" th:utext="#{menu.teams}"></a></li>
        <li>
            <a th:if="${#httpServletRequest.remoteUser == null}" href="/login">login</a>
            <a th:if="${#httpServletRequest.remoteUser != null}" href="/hello" th:text="${#httpServletRequest.remoteUser}"></a>
        </li>
    </ul>
</body>
</html>