<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="ruler">
        <div class="row" th:style="${totalPages lt 2}? 'display:none' : ''">
            <div class="col s12 center-align">
                <div class='pagination pagination-centered'>
                    <ul class="pagination valign-wrapper">
                        <li th:class="${currentIndex == 1}? 'disabled' : ''">
                            <span th:if='${currentIndex == 1}' th:utext="#{pagination.tofirst}"></span>
                            <a th:if='${currentIndex != 1}'
                               th:href="${url}" th:utext="#{pagination.tofirst}"></a>
                        </li>
                        <li th:class="${currentIndex != 1}? '' : 'disabled'">
                            <i class="material-icons" th:if='${currentIndex == 1}'>chevron_left</i>
                            <a th:if='${currentIndex != 1}'
                               th:href="@{${url+'?page='+ (currentIndex - 1)}}"
                               th:title="#{pagination:toprev}"><i class="material-icons">chevron_left</i></a>
                        </li>

                        <li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
                            th:class="${item == currentIndex ? 'active' : '' }">

                            <span th:if='${item == currentIndex}' th:text='${item}'>1</span>

                            <a th:if='${item != currentIndex}'
                               th:href="@{${url+'?page='+item }}">
                                <span th:text='${item}'>1</span>
                            </a>
                        </li>

                        <li th:class="${currentIndex != totalPages}? '' : 'disabled'">
                            <i class="material-icons" th:if='${currentIndex == totalPages}'>chevron_right</i>
                            <a th:if='${currentIndex != totalPages}'
                               th:href="@{${url+'?page='+(currentIndex + 1)}}" th:title="#{pagination.tonext}"><i class="material-icons">chevron_right</i></a>
                        </li>
                        <li th:class="${currentIndex == totalPages}? 'disabled' : ''">
                            <span th:if='${currentIndex == totalPages}' th:utext="#{pagination.tolast}"></span>
                            <a th:if='${currentIndex != totalPages}'
                               th:href="@{${url+'?page='+ totalPages}}" th:utext="#{pagination.tolast}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
