<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page"
      th:with="title=#{page.plans.title}">
<head>
</head>
<body>

<div th:fragment="content">

    <div th:replace="pagination :: ruler"></div>

    <div class="row">
    <h1 class="col s12" th:each="plan : ${currentResults}"></h1>
    </div>
    <div class="row">
        <h1 class="col s6" th:text="${plan.team.name}"></h1>
        <h3 class="col s6 right-align" th:text="${plan.team.students.size}"></h3>
        </div>
    <div class="row">
        <div class="col s12">
            <a th:href="'/teams/' + ${plan.team.id}" th:utext="#{page.plans.team}"></a>
        </div>
        <div class="row" th:each="entry : plan.subjects">
            <div class="col s10" th:text="${entry.subject.name}"></div>
            <div class="col s2 right-align" th:text="${entry.hours}"></div>
        </div>
    </div>
</div>

</body>
</html>