<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page"
      th:with="title=#{page.rooms.title}">
<head>
</head>
<body>

<div th:fragment="content">

    <div class="row team" th:if="${rooms.size() gt 0}" th:id="${room.id}">
        <div class="col s2">
            <div class="collection">
                <a th:each="item: ${rooms}"
                   th:text="${item.name}"
                   th:id="${item.id}"
                   th:href="@{(${item.id} == ${room.id} ? '#!' : ('/rooms/' + ${item.id}))}"
                   th:class="'collection-item' + (${item.id} == ${room.id} ? ' active' : '')"></a>
            </div>
        </div>

        <div class="col s10">
            <div class="card-panel">
                <span class="team-title editable" th:text="${room.name}" th:attr="data-url='/rooms/' + ${room.id} + '/name'"></span>
                <a class="btn right" id="delete-active-item" th:utext="#{page.rooms.delete}" th:attr="data-link='/api/rooms/'"><i class="material-icons left">delete</i></a>
            </div>
            <div class="row">
                <span th:utext="#{page.rooms.capacity}"></span>
                <span class="editable" th:attr="data-url='/rooms/' + ${room.id} + '/capacity'" th:text="${room.capacity}"></span>
            </div>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a href="#limitations" class="active" th:text="#{page.rooms.limitations}"></a></li>
                        <li class="tab col s3"><a href="#timetable" th:text="#{page.rooms.timetable}"></a></li>
                    </ul>
                </div>
                <!-- limitations -->
                <div class="col s12" id="limitations">
                    <span class="row col" th:utext="#{page.rooms.limitations.subject}"></span>
                    <div class="row">
                        <div class="chip"
                             th:each="lim : ${subjectToRoomLimitations}"
                             th:attr="data-id=${lim.id}">
                            <span th:text="${lim.subject.name}"></span>
                            <i class="material-icons">close</i>
                        </div>
                        <span>
                            <select id="add-subject" style="display:inline;width:auto;margin:6pt">
                                <option th:utext="#{page.rooms.subject}"></option>
                                <option th:each="item : ${availableSubjects}"
                                        th:style="${beans.webUtils.entityHasLimitation(room, 'SubjectToRoomCompatibilityLimitation', 'subject.id', item) ? 'display:none' : ''}"
                                        th:value="${item.id}"
                                        th:text="${item.name}">
                                </option>
                            </select>
                        </span>
                    </div>
                </div>
                <!-- timetable -->
                <div class="col s12" id="timetable">
                    <div class="col s12">
                        <div class="row">
                            <a class="btn" id="calc" th:utext="#{page.teams.calculate}" href="#">
                                <i class="material-icons">cached</i>
                            </a>
                        </div>
                        <div class="row progress" style="display: none">
                            <div class="indeterminate"></div>
                        </div>
                        <div class="timetable">
                            <div class="timetable-row" th:each="row : ${events}">
                                <div class="timetable-col" th:each="cell : ${row}">
                                    <div th:if="${cell} != null">
                                        <div style="position:relative;left:0;top:0;border-bottom: 4px solid lightgray;width:100%"></div>
                                        <div th:style="'position:relative;left:0;top:-4px;border-bottom: 4px solid green;width:' + ${cell.team.count()}/${cell.room.capacity}*100 + '%'"></div>
                                        <div><a th:href="'/teachers/' + ${cell.teacher.id}" th:text="${cell.teacher.name}"></a></div>
                                        <div><a th:href="'/subjects/' + ${cell.subject.id}" th:text="${cell.subject.name}"></a></div>
                                        <div><a th:href="'/teams/' + ${cell.team.id}" th:text="${cell.team.title}"></a></div>
                                    </div>
                                    <div th:if="${cell} == null">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fixed-action-btn">
            <a class="btn-floating btn-large red popup-link-1">
                <i class="material-icons">add</i>
            </a>
        </div>

        <div class="row popup-box" id="popup-box-1">
            <div class="card col offset-l4 l4 offset-m2 m8 offset-s1 s10">
                <form id="creation-form" class="form-inline col s12" role="form" th:object="${newRoom}" method="post" th:action="@{/rooms/save}">
                    <div class="card-content">
                        <div class="form-group">
                            <label class="sr-only" for="room-name-field" th:utext="#{page.rooms.name}">Name</label>
                            <input type="text" class="form-control" id="room-name-field" th:placeholder="#{page.rooms.name}" th:field="*{name}" th:value="*{name}"/>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="room-capacity-field" th:utext="#{page.rooms.capacity}"></label>
                            <input type="text" class="form-control" id="room-capacity-field" th:placeholder="#{page.rooms.capacity}" th:field="*{capacity}" th:value="*{capacity}"/>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="#" class="close" onclick="$('#creation-form').submit()"><i class="material-icons">check</i></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<th:block th:fragment="script">
    <script>
        /*<![CDATA[*/

        $(document).ready(function() {
            $('#add-subject').change(function(e) {
                e.preventDefault();
                createSubitemSilently($(this), '/rooms/' + $('.team').attr('id') + '/limitations/', {subject: $(this).val()});
                return false;
            });

            $('.chip .material-icons').click(function (e) {
                e.preventDefault();
                removeLimitation($(this).parent());
                return false;
            });

        });
        /*]]>*/
    </script>
</th:block>

</body>
</html>