<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page"
      th:with="title=#{page.students.title}">
<head>
</head>
<body>

<div th:fragment="content">

    <div th:replace="pagination :: ruler"></div>

    <div class="row">
        <div class="col s4" th:each="student : ${currentResults}" th:id="${student.id}">
            <div class="row valign-wrapper">
                <div class="editable name col s10" th:utext="${student.name}"
                     th:attr="data-url='/students/' + ${student.id} + '/name'"></div>
                <div class="col s2">
                    <a href="#" class="btn-flat waves-effect waves-teal" th:onclick="'deleteEntity(\'/api/students/' + ${student.id} + '\')'">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red popup-link-1">
            <i class="material-icons">add</i>
        </a>
    </div>

    <div class="row popup-box" id="popup-box-1">
        <div class="card col offset-l4 l4 offset-m2 m8 offset-s1 s10">
            <form id="creation-form" class="form-inline col s12" role="form" th:object="${newStudent}" method="post" th:action="@{/students/save}">
                <div class="card-content">
                    <span class="card-title grey-text" th:utext="#{page.students.create}">
                    </span>
                    <a class="close"><i class="material-icons right">close</i></a>
                    <div class="form-group">
                        <label class="sr-only" for="student-name-field" th:utext="#{page.students.name}">Name</label>
                        <input type="text" class="form-control" id="student-name-field" th:placeholder="#{page.students.name}"
                               th:field="*{name}" th:value="*{name}"/>
                    </div>
                </div>
                <div class="card-action">
                    <a href="#" class="close" onclick="$('#creation-form').submit()"><i class="material-icons">check</i></a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
