<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page"
      th:with="title=#{page.subject.title}">
<head>
</head>
<body>

<div th:fragment="content">
    <div class="container">
        <div class="card-panel">
            <span class="team-title editable" th:text="${subject.name}" th:attr="data-url='/subjects/' + ${subject.id} + '/name'"></span>
            <a class="btn right remove" th:id="${subject.id}" th:utext="#{page.subject.delete}">
                <i class="material-icons left">delete</i>
            </a>
        </div>
        <div class="row">
            <div class="col" th:utext="#{page.subject.displayname}"></div>
            <div class="col editable" th:text="${subject.name}" th:attr="data-url='/subjects/' + ${subject.id} + '/alias'"></div>
        </div>
        <div class="divider"></div>
        <div class="row section">
            <div class="col" th:utext="#{page.subject.types}"></div>
            <div class="col">
                <div class="chip"
                     th:each="type : ${subject.types}"
                     th:attr="data-id=${type.id}">
                    <span th:text="${type.name}"></span>
                    <i class="material-icons">close</i>
                </div>
                <div style="display:inline-block" class="type-selector">
                    <input type="text" style="border:none;width:100%;height:1em" id="type-selector"/>
                </div>
            </div>
        </div>
        <div class="row section">
            <div class="col">
                <h5 th:utext="#{page.subject.constraints}"></h5>

                <p th:each="constraint : ${constraints}">
                    <input th:id="${constraint.name}" type="checkbox" th:checked="${constraint.applied}"/>
                    <label th:for="${constraint.name}" th:text="${constraint.name}"></label>
                </p>
                <p>
                    <input id="pair" type="checkbox"/>
                    <label for="pair">Do not put in one day with</label>
                    <a class='dropdown-button' href='#' th:attr="data-beloworigin='true',data-constrainwidth='false',data-activates='second-subject'">...</a>
                <ul id='second-subject' class='dropdown-content'>
                    <li th:each="subj : ${theOthers}">
                        <a href="#"
                           th:id="${subj.id}"
                           th:text="${subj.name}"
                           style="font-size: 1rem;padding-top:4px;padding-bottom:4px"></a>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>

<th:block th:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/
        function addTypeChip(node, item) {
            $.ajax({
                method: 'PATCH',
                url: '/api/subjectTypes/' + item.value + '/subjects',
                data: '/api/subjects/' + $('.remove').attr('id'),
                contentType: "text/uri-list",
                success: function() {
                    node.closest('.type-selector').before("<div class='chip'><span>" + item.label
                        + "</span><i class='material-icons'>close</i></div>").data("id", item.value);
                },
                error: function(message) {
                    createNoty(message, 'warn');
                }
            });
            node.val('');
        }
        $(document).ready(function() {
            var ts = $('#type-selector');
            ts.autocomplete({
                select: function(event, ui) {
                    $(this).val(ui.item.label);
                    return false;
                },
                change: function(event, ui) {
                    var tp = ui.item;
                    var input = $(this);
                    if (tp == null) {
                        $.ajax({
                            method: 'POST',
                            url: '/api/subjectTypes/',
                            contentType: 'application/json',
                            dataType: 'json',
                            data: JSON.stringify({
                                name: ts.val()
                            }),
                            success: function(item) {
                                var source = input.autocomplete('option', 'source');
                                tp = {value: item.id, label: item.name};
                                insertSorted(
                                        source,
                                        tp,
                                        function (a, b) {
                                            return (a.label > b.label ? 1 : (a.label < b.label ? -1 : 0));
                                        }
                                );
                                addTypeChip(input, tp);
                            },
                            error: function(message) {
                                createNoty(message, 'warn');
                            }
                        });
                    } else {
                        addTypeChip(input, tp);
                    }
                },
                source: /*[[${availableTypes}]]*/"['1','2','3']"
            });

            $('.remove').click(function () {
                var id = $(this).attr('id');
                $.ajax({
                    method: 'DELETE',
                    url: '/api/subjects/' + id,
                    error: function (message) {
                        createNoty(message, 'fail');
                    },
                    success: function() {
                        window.location.replace('/subjects');
                    }
                })
            });

            $('#add-type').change(function(e) {
                e.preventDefault();
                createSubitemSilently($(this), '/subject/' + $('.remove').attr('id') + '/types/', {type: $(this).val()});
                return false;
            });

            $('.chip .material-icons').click(function (e) {
                e.preventDefault();
                var chip = $(this).parent();
                var typeId = chip.data('id');
                $.ajax({
                    method: 'DELETE',
                    url: '/api/subjectTypes/' + typeId + '/subjects/' + $('.remove').attr('id'),
                    success: function () {
                        var typeName = chip.find('span').text();
                        var source = ts.autocomplete("option", "source");
                        source.push({
                            label: typeName,
                            value: typeId
                        });
                        ts.autocomplete("option", "source", source);
                        $('#add-type').find('option').filter(function () {
                            return $(this).html() == typeName
                        }).show();
                        chip.remove();
                    },
                    error: function (message) {
                        Materialize.toast(message, 4000);
                    }
                });
                return false;
            });
        });
        /*]]>*/
    </script>
</th:block>

</body>
</html>
