<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page"
      th:with="title=#{page.subjects.title}">
<head>
</head>
<body>

<div th:fragment="content">

    <div th:replace="pagination :: ruler"></div>

    <div class="row">
        <div class="row col l4 m6 s12" th:each="subject : ${currentResults}">
            <div class="col s10 l11 editable" th:attr="data-url='/subjects/' + ${subject.id} + '/name'" th:text="${subject.name}"></div>
            <div class="left col s2 l1">
                <a th:href="'/subjects/' + ${subject.id}" class="btn-flat waves-effect waves-teal">
                    <i class="material-icons">edit</i>
                </a>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red popup-link-1">
            <i class="material-icons">add</i>
        </a>
    </div>

    <div class="row popup-box" id="popup-box-1">
        <div class="card col offset-l4 l4 offset-m2 m8 offset-s1 s10">
            <form id="creation-form" class="form-inline col s12" role="form" th:object="${newSubject}" method="post" th:action="@{/subjects/save}">
                <div class="card-content">
                    <div class="form-group">
                        <label class="sr-only" for="room-name-field" th:utext="#{page.subjects.name}">Name</label>
                        <input type="text" class="form-control" id="room-name-field" th:placeholder="#{page.subjects.name}" th:field="*{name}" th:value="*{name}"/>
                    </div>
                </div>
                <div class="card-action">
                    <a href="#" class="close" onclick="$('#creation-form').submit()"><i class="material-icons">check</i></a>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block th:fragment="script">
    <script>
        /*<![CDATA[*/
        $(document).ready(function() {
        });
        /*]]>*/
    </script>
</th:block>

</body>
</html>