<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page"
      th:with="title=#{page.teachers.title}">
<head>
</head>
<body>

<div th:fragment="topnav">
    <a class="page-title" th:utext="#{page.teachers.title}"></a>
</div>

<div th:fragment="content">

    <div id="plan" th:attr="data-id=${plan.id}" style="display: none"></div>
    <div class="row" th:if="${currentResults.size() gt 0}">
        <!-- Teachers -->
        <div class="col s2">
            <div class="collection">
                <a th:each="item: ${currentResults}"
                   th:text="${item.name}"
                   th:id="${item.id}"
                   th:href="@{(${item.id} == ${teacher.id} ? '#!' : ('/teachers/' + ${item.id}))}"
                   th:class="'collection-item' + (${item.id} == ${teacher.id} ? ' active' : '')"></a>
            </div>
        </div>
        <!-- Current teacher -->
        <div class="col s10">
            <div class="card-panel">
                <span class="team-title editable" th:text="${teacher.name}" th:attr="data-url='/teachers/' + ${teacher.id} + '/name'"></span>
                <a class="btn right" id="delete-active-item" th:utext="#{page.teams.remove}" th:attr="data-link='/api/teachers/'"><i class="material-icons left">delete</i></a>
            </div>

            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a href="#subjects" class="active" th:text="#{page.teachers.subjects}"></a></li>
                        <li class="tab col s3"><a href="#timetable" th:text="#{page.teachers.timetable}"></a></li>
                    </ul>
                </div>
            </div>
            <!-- Subjects -->
            <div class="row" id="subjects">
                <div class="col s6 subject-target">
                    <div class="row col s12"></div>
                    <div class="row col s12 l6 ls-item valign-wrapper"
                         th:each="subject : ${teacher.subjects}"
                         th:attr="data-subjectid=${subject.id}">
                        <div class="col s10" th:utext="${subject.name}"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 subject-source" style="margin-left:-4px;">
                        <div class="row col s12"></div>
                        <div class="row col s12 l6 ls-item valign-wrapper"
                             th:each="subject : ${subjects}"
                             th:attr="data-subjectid=${subject.id}">
                            <div class="col s10" th:utext="${subject.name}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Timetable -->
            <div class="row" id="timetable">
                <div class="col s12">
                    <div class="row">
                        <a class="btn" id="calc" th:utext="#{page.teams.calculate}" href="#">
                            <i class="material-icons">cached</i>
                        </a>
                    </div>
                    <div class="row progress" style="display: none">
                        <div class="indeterminate"></div>
                    </div>
                    <div class="timetable">
                        <div class="timetable-row" th:each="row : ${events}">
                            <div class="timetable-col" th:each="cell : ${row}">
                                <div th:if="${cell} != null">
                                    <div><a th:href="'/rooms/' + ${cell.room.id}" th:text="${cell.room.name}"></a></div>
                                    <div style="position:relative;left:0;top:0;border-bottom: 4px solid lightgray;width:100%"></div>
                                    <div th:style="'position:relative;left:0;top:-4px;border-bottom: 4px solid green;width:' + ${cell.team.count()}/${cell.room.capacity}*100 + '%'"></div>
                                    <div><a th:href="'/subjects/' + ${cell.subject.id}" th:text="${cell.subject.name}"></a></div>
                                    <div><a th:href="'/teams/' + ${cell.team.id}" th:text="${cell.team.name}"></a></div>
                                </div>
                                <div th:if="${cell} == null">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red popup-link-1">
            <i class="material-icons">add</i>
        </a>
    </div>

    <div class="row popup-box" id="popup-box-1">
        <div class="card col offset-l4 l4 offset-m2 m8 offset-s1 s10">
            <form id="form1" class="form-inline col s12" role="form" th:object="${newTeacher}" method="post" th:action="@{/teachers/save}">
                <div class="card-content">
                <span class="card-title grey-text" th:utext="#{page.teachers.create}">
                </span>
                    <a class="close"><i class="material-icons right">close</i></a>
                    <div class="form-group">
                        <label class="sr-only" for="teacher-name-field" th:utext="#{page.teachers.name}">Name</label>
                        <input type="text" class="form-control" id="teacher-name-field" th:placeholder="#{page.teachers.name}"
                               th:field="*{name}" th:value="*{name}"/>
                    </div>
                    <div class="card-action">
                        <a href="#" class="close" onclick="$('#form1').submit()"><i class="material-icons">check</i></a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<th:block th:fragment="script">
    <script src="/js/listSelector.js"></script>
    <script>
        /*<![CDATA[*/
        $(document).ready(function() {
            var lsTeachers = new ListSelector($('.subject-source'), $('.subject-target'),
                    // add
                    function (list, node) {
                        $.ajax({
                            method: 'PATCH',
                            url: '/api/teachers/' + $('.collection-item.active').attr('id') + '/subjects',
                            data: '/api/subjects/' + node.data('subjectid'),
                            contentType: "text/uri-list",
                            error: function() {
                                lsTeachers.undo(node);
                            }
                        });
                    },
                    // remove
                    function (list, node) {
                        $.ajax({
                            method: 'DELETE',
                            url: '/api/teachers/' + $('.collection-item.active').attr('id') + '/subjects/' + node.data('subjectid'),
                            error: function() {
                                lsTeachers.undo(node);
                            }
                        });
                    }
            )
        });
        /*]]>*/
    </script>
</th:block>

</body>
</html>
