<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page"
      th:with="title=#{page.teams.title}">
<head>
</head>
<body>

<div th:fragment="content">
    <div class="row" th:if="${teams.size() == 0}">
        <div class="col s4 m2 l2">
            <a href="#" th:utext="#{page.teams.import.link}" class="import popup-link-2"></a>
        </div>
    </div>
    <div class="row" th:if="${teams.size() gt 0}">
        <!-- Teams -->
        <div class="col s4 m2 l2">
            <div class="collection">
                <a th:each="item: ${teams}"
                   th:text="${item.formattedTitle}"
                   th:style="'padding-left:' + 12*${item.depth} + 'px'"
                   th:id="${item.id}"
                   th:href="@{(${item.id} == ${team.id} ? '#!' : ('/teams/' + ${item.id}))}"
                   th:class="'collection-item' + (${item.id} == ${team.id} ? ' active' : '')"></a>
            </div>
            <a href="#" th:utext="#{page.teams.import.linkmore}" class="import popup-link-2"></a>
        </div>
        <!-- Current team -->
        <div class="col s8 m10 l10">
            <div class="card-panel">
                <div class="row">
                    <div class="col l10 m9 s6">
                        <div class="row team-title" th:text="${team.formattedTitle}"></div>
                        <div class="row" style="margin-bottom:0">
                            <span class="team-size col m2 l2 s3" th:text="${team.count()}"></span>
                            <span class="col" th:utext="#{page.teams.name}"></span><span class="editable col title-format" th:text="${team.title}" th:attr="data-url='/teams/' + ${team.id} + '/name'"></span>
                            <span class="col" th:utext="#{page.teams.year}"></span><span class="editable col title-format" th:text="${team.year}" th:attr="data-url='/teams/' + ${team.id} + '/year'"></span>
                        </div>
                    </div>
                    <a class="btn right" id="delete-active-item" th:utext="#{page.teams.remove}" th:attr="data-link='/api/teams/'"><i class="material-icons left">delete</i></a>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a href="#plan" class="active" th:text="#{page.teams.plan}"></a></li>
                        <li class="tab col s3"><a href="#students" th:text="#{page.teams.students}"></a></li>
                        <li class="tab col s3"><a href="#timetable" th:text="#{page.teams.timetable}"></a></li>
                    </ul>
                </div>
                <!-- Plan -->
                <div id="plan" class="col s12" th:attr="data-id=${plan.id}">
                    <div class="col s6 subject-target">
                        <div class="row col s12"></div>
                        <div class="row col s12 l6 ls-item"
                             th:attr="data-subject=${item.subject.id},data-id=${item.id}"
                             th:each="item : ${planSubjects}">
                            <div class="col s8 l9" th:text="${item.subject.name}"></div>
                            <div class="col s3 l2 editable hours" th:attr="data-url=@{'/api/hours/' + ${item.id} + '/count'}" th:text="${item.hours}"></div>
                        </div>
                    </div>
                    <div class="col s6 subject-source" style="margin-left:-4px;">
                        <div class="row col s12"></div>
                        <div class="row">
                            <div class="row col s12 l6 ls-item" th:each="item : ${subjects}" th:attr="data-subject=${item.id}">
                                <div class="col s8 l9" th:text="${item.name}" th:id="${item.id}"></div>
                                <div class="col s3 l2 editable hours" style="display: none">1</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- students -->
                <div id="students">
                    <div class="col s6" style="padding-right:0">
                        <div class="row col s12"></div>
                        <div class="row col s12 student-target">
                            <div class="row ls-item col s12 l6"
                                 th:each="item : ${teamMembers}"
                                 th:attr="data-studentId=${item.id}">
                                <div th:text="${item.name}" class="col s10"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col s6" style="padding-left:0">
                        <div class="row col s12"></div>
                        <div class="row col s12 student-source" style="margin-left:-4px;">
                            <div class="row ls-item col s12 l6"
                                 th:each="item : ${availableStudents}"
                                 th:attr="data-studentId=${item.id}">
                                <div th:text="${item.name}" class="col s10"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- timetable -->
            <div id="timetable" class="col s12">
                <div class="row">
                    <a class="btn" id="calc" th:utext="#{page.teams.calculate}" href="#">
                        <i class="material-icons">cached</i>
                    </a>
                </div>
                <div class="row progress" style="display: none">
                    <div class="indeterminate"></div>
                </div>
                <div class="timetable">
                    <div class="timetable-row" th:each="row : ${events}">
                        <div class="timetable-col" th:each="cell : ${row}">
                            <div th:if="${cell} != null">
                                <div><a th:href="'/rooms/' + ${cell.room.id}" th:text="${cell.room.name}"></a></div>
                                <div style="position:relative;left:0;top:0;border-bottom: 4px solid lightgray;width:100%"></div>
                                <div th:style="'position:relative;left:0;top:-4px;border-bottom: 4px solid green;width:' + ${team.count()}/${cell.room.capacity}*100 + '%'"></div>
                                <div><a th:href="'/subjects/' + ${cell.subject.id}" th:text="${cell.subject.name}"></a></div>
                                <div><a th:href="'/teachers/' + ${cell.teacher.id}" th:text="${cell.teacher.name}"></a></div>
                            </div>
                            <div th:if="${cell} == null">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red popup-link-1">
            <i class="material-icons">add</i>
        </a>
    </div>

    <div class="row popup-box" id="popup-box-1">
        <div class="card col offset-l4 l4 offset-m2 m8 offset-s1 s10">
            <form id="creation-form" class="form-inline col s12" role="form" th:object="${newTeam}" method="post" th:action="@{/teams/save}">
                <div class="card-content">
                    <span class="card-title grey-text" th:utext="#{page.teams.create}"></span>
                    <a class="close"><i class="material-icons right">close</i></a>
                    <div class="form-group">
                        <p>
                            <label>
                                <span th:utext="#{page.teams.format}"></span>
                                <input type="text" class="form-control" id="team-name-field" th:placeholder="#{page.teams.name}"
                                       th:field="*{title}" th:value="*{title}"/>
                            </label>
                        </p>
                        <p>
                            <label>
                                <span th:utext="#{page.teams.year}"></span>
                                <input type="number" class="form-control" id="team-year-field" th:placeholder="#{page.teams.year}"
                                       th:field="*{year}" th:value="*{year}"/>
                            </label>
                        </p>
                        <p>
                            <input type="checkbox" id="test5" th:disabled="${teams.size() == 0}" th:value="*{useParent}" name="useParent"/>
                            <label th:if="${teams.size()} gt 0" for="test5" th:utext="#{page.teams.parentize1(${team.formattedTitle})}"></label>
                            <label th:if="${teams.size()} == 0" for="test5" th:utext="#{page.teams.parentize}"></label>
                        </p>
                        <input type="hidden" name="current" th:field="*{parent}" th:value="${teams.size() gt 0} ? ${team.id} : ''"/>
                    </div>
                </div>
                <div class="card-action">
                    <a href="#" class="close" onclick="$('#creation-form').submit()"><i class="material-icons">check</i></a>
                </div>
            </form>
        </div>
    </div>

    <div class="row popup-box" id="popup-box-2">
        <div class="card col offset-l4 l4 offset-m2 m8 offset-s1 s10">
            <form id="import-form" class="form-inline col s12" role="form" method="post" th:action="@{import}">
                <div class="card-content">
                    <span class="card-title grey-text" th:utext="#{page.teams.import.title}"></span>
                    <a class="close"><i class="material-icons right">close</i></a>
                    <div class="form-group">
                        <textarea rows="12" style="height:auto"/>
                    </div>
                    <div class="grey-text" th:utext="#{page.teams.import.description}"></div>
                </div>
                <div class="card-action">
                    <a href="#" class="close" onclick="$('#import-form').submit()"><i class="material-icons">check</i></a>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block th:fragment="script">
    <script src="/js/listSelector.js"></script>
    <script>
        /*<![CDATA[*/
        $(document).ready(function() {
            $('.editable.title-format').jinplace().on('jinplace:done', function(ev, value) {
                $.ajax({
                    method: 'GET',
                    url: '/teams/' + $('.collection-item.active').attr('id') + '/formattedTitle',
                    success: function (response) {
                        $('.team-title').text(response);
                        $('.collection-item.active').text(response);
                    }
                })
            });

            var lsStudents = new ListSelector($('.student-source'), $('.student-target'), function(list, node) {
                $.ajax({
                    method: 'PATCH',
                    url: '/api/teams/' + $('.collection-item.active').attr('id') + '/students',
                    data: '/api/students/' + node.data('studentid'),
                    contentType: "text/uri-list",
                    error: function() {
                        lsStudents.undo(node);
                    },
                    success: function() {
                        var label = $('.team-size');
                        var count = parseInt(label.text());
                        label.text(count+1);
                    }
                });
            }, function(list, node) {
                $.ajax({
                    method: 'DELETE',
                    url: '/api/teams/' + $('.collection-item.active').attr('id') + '/students/' + node.data('studentid'),
                    error: function() {
                        lsStudents.undo(node);
                    },
                    success: function() {
                        var label = $('.team-size');
                        var count = parseInt(label.text());
                        label.text(count-1);
                    }
                });
            });

            var lsHours = new ListSelector($('.subject-source'), $('.subject-target'), function(list, node) {
                $.ajax({
                    method: "POST",
                    url: "/api/subjectHours",
                    contentType: "application/json",
                    data: JSON.stringify({
                        subject: "/api/subjects/" + node.data("subject"),
                        team: "/api/teams/" + $('.collection-item.active').attr("id"),
                        hours: node.find('div.hours').text()
                    }),
                    success: function(reponse) {
                        var hourId = reponse._links.self.href.match(/[^\/?#]+(?=$|[?#])/)[0];
                        $.ajax({
                            method: "PATCH",
                            url: '/api/plans/' + $('#plan').data("id") + '/subjects',
                            data: "/api/subjectHours/" + hourId,
                            contentType: "text/uri-list",
                            error: function() {
                                lsHours.undo(node);
                            },
                            success: function() {
                                node.data("id", hourId);
                                var hours = node.find('.hours');
                                hours.data("url", "/api/hours/" + hourId + "/count");
                                hours.show();
                                hours.data("plugin_jinplace").opts.url = "/api/hours/" + hourId + "/count";
                            }
                        });
                    },
                    error: function() {
                        lsHours.undo(node);
                    }
                });
            }, function(list, node) {
                var hourId = node.data("id");
                $.ajax({
                    method: "DELETE",
                    url: '/api/subjectHours/' + hourId,
                    success: function() {
                        node.find('.hours').hide();
                        node.data("id", undefined);
                    },
                    error: function() {
                        lsHours.undo(node);
                    }
                });
            });
        });
        /*]]>*/
    </script>
</th:block>

</body>
</html>